body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
#main{
    padding: 20px;
    margin: auto;
    display: grid;
    width: 95%;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#main>div{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#main>div>img:nth-child(1){
    width: 100%;
}
#main>div>img:last-child{
    width: 200px;
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
    #main{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 600px){
    #main{
        grid-template-columns: repeat(1,1fr);
    
    }
    #main>div{
        width: 70%;
        margin: auto;
    }
}